<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>カフェ</h2>
  <p><%= mes %></p>
  <a href="/public/input02.html">fpllowerの多い順（少ない順）に店名を表示する（app6-2.jsを起動してからクリックしてください）</a>
</body>
</html>